<footer class="footer">
  <div class="footer-container container">
    <div class="footer-body">
      <div class="footer-heading heading">
        <h6 class="heading-title">
          Наши сообщества
        </h6>
        <span class="heading-subheading">
          Идейные соображения высшего порядка, а также дальнейшее развитие <br> различных форм деятельности...
        </span>
      </div>
      <ul class="footer-socials">
        <a href="#" class="footer-socials__link footer-socials__link--cyan">
          <div class="footer-socials__link-inner">
            <img src="img/footer/vk.png" alt="icon">            
          </div>
        </a>
        <a href="#" class="footer-socials__link footer-socials__link--blue">
          <div class="footer-socials__link-inner">
            <img src="img/footer/tg.png" alt="icon">            
          </div>
        </a>
        <a href="#" class="footer-socials__link footer-socials__link--purple">
          <div class="footer-socials__link-inner">
            <img src="img/footer/discord.png" alt="icon">            
          </div>
        </a>
        <a href="#" class="footer-socials__link footer-socials__link--dark-blue">
          <div class="footer-socials__link-inner">
            <img src="img/footer/fb.png" alt="icon">            
          </div>
        </a>                        
      </ul>
      <div class="footer-actions">
        <img class="footer-actions-divider" src="img/footer/footer-divider.png" alt="divider">
        <a href="#" class="footer-play button button-primary">
          начать играть
        </a>
        <img class="footer-actions-divider" src="img/footer/footer-divider.png" alt="divider">
      </div>
      <div class="footer-bottom">
        <span class="footer-bottom-hl">
          © 2025 L2Escape.COM  
        </span>
        <span>
          This is only a test server for l2. All rights
          <br>
          reserved by ncsoft
        </span>
      </div>
    </div>
  </div>
</footer>